.navDark {
    background-color: #000 !important;
}

.rounded {
    border: solid 5px rgb(139, 25, 0);
    width: 80%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 100px;
}

#btn_buscar {
    margin-top: 20px;
    border-radius: 20px;
}


/* CSS animado bakcground */

.body-animated {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #841e2f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: body-animated 15s infinite ease-in-out;
    background-size: 400% 400%;
}

@keyframes body-animated {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.card-e {
    background-color: rgba(0, 0, 0, 0.384);
    color: #ffff;
    width: 500px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.194);
    margin-top: 15px;
    padding: auto;
}

.card-e:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 1s;
    padding: 5px;
}


/* Animacion del hover */

#movies {
    animation: cargaPelis 1s ease-out;
}

@keyframes cargaPelis {
    from {
        margin-left: 100%;
        width: 100%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}